.gameGrid {
    width: 200px;
    height: 400px;
    background-color: #b8b5b0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.tile {
    width: 18px;
    height: 18px;
    border: 1px solid #a09d99;

}

.upNext {
    width: 80px;
    height: 80px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    background-color: #026196;
}

.nextTet {
    width: 18px;
    height: 18px;
    border: 1px solid lightgrey;
}

#gameScreen {
    display: flex;
    display: -webkit-flex;
}

.gameInfo {
    margin-left: 20px;
}

#startStopButton {
    padding: 10px 10px;
    background-color: #059092;
    border-radius: 5px;
    /*border-color: #059092;*/
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.tetrimino {
    background-color: #133939;
}

body {
    margin-left: 80px;
    margin-top: 80px;
}
