.gameGrid {
    width: 200px;
    height: 400px;
    background-color: #b8b5b0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.tile {
    width: 18px;
    height: 18px;
    border: 1px solid lightgrey;
}

.upNext {
    width: 80px;
    height: 80px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    background-color: #5b6d6d;
}

.nextTet {
    width: 18px;
    height: 18px;
    border: 1px solid lightgrey;
}

#gameScreen {
    display: flex;
    display: -webkit-flex;
}

.gameInfo {
    margin-left: 20px;
}

#startStopButton {
    padding: 1rem 1.5rem;
    background-color: darkslategrey;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
}

.tetrimino {
    background-color: #133939;
}